@charset "UTF-8";

#contensBox {
	width: 1000px;
	height: 500px;
	margin: auto;
	border: 1px solid silver;
}

#contensBox span, #contensBox div {
	text-indent: 5px;
}

#contensBox .text_title {
	font-size: 20px;
	font-weight: bold;
}

#contensBox div {
	font-size: 17px;
}

.text_span {
	font-weight: bold;
}

.over_out {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.text_out{
	word-break: break-all;
}